@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


// Couleurs
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Typographie
$font-family-montserrat: 'Montserrat',
sans-serif;
$font-family-fraunces: 'Fraunces',
serif;

$font-weight-montserrat-medium: 500;
$font-weight-montserrat-bold: 700;
$font-weight-fraunces-bold: 700;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styles de base
body {
  background-color: $cream;
  color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

.card {
  background: $white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 450px;
  // box-shadow: 0 10px 20px rgba($very-dark-blue, 0.19), 0 6px 6px rgba($very-dark-blue, 0.23);
  margin: auto;

  &-image {
    width: 100%;
    height: 450px;
    background-image: url('images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-content {
    width: 50%;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .category {
      font-family: $font-family-montserrat;
      font-weight: $font-weight-montserrat-medium;
      font-size: 12px;
      color: $dark-grayish-blue;
      letter-spacing: 5px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .title {
      font-family: $font-family-fraunces;
      font-weight: $font-weight-fraunces-bold;
      font-size: 32px;
      line-height: 32px;
      color: $very-dark-blue;
      margin-bottom: 24px;
    }

    .description {
      font-family: $font-family-montserrat;
      font-weight: $font-weight-montserrat-medium;
      font-size: 14px;
      line-height: 23px;
      color: $dark-grayish-blue;
      margin-bottom: 29px;
    }

    .pricing {
      display: flex;
      align-items: center;
      gap: 19px;
      margin-bottom: 30px;

      .price {
        &.new-price {
          font-family: $font-family-fraunces;
          font-weight: $font-weight-fraunces-bold;
          font-size: 32px;
          line-height: 32px;
          color: $dark-cyan;
        }

        &.old-price {
          font-family: $font-family-montserrat;
          font-weight: $font-weight-montserrat-medium;
          color: $dark-grayish-blue;
          font-size: 13px;
          line-height: 23px;
          text-decoration: line-through;
        }
      }
    }


    .btn {
      background-color: $dark-cyan;
      color: $white;
      width: 236px;
      padding: 15px 62px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: darken($dark-cyan, 10%);
      }

      .btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 11.61px;

        .btn-icon {
          display: flex;
          align-items: center;

          img {
            height: 16px;
            width: auto;
          }
        }

        .btn-text {
          font-family: $font-family-montserrat;
          font-weight: $font-weight-montserrat-bold;
          font-size: 14px;
          line-height: auto;
        }
      }
    }

  }
}

.attribution {
  text-align: center;
  padding: 10px;
  font-size: 11px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-family-montserrat;

  a {
    color: $dark-cyan;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Responsive styles for mobile
@media (max-width: $breakpoint-mobile) {

  .card {
    flex-direction: column;
    width: 100%;
    height: auto;

    &-image {
      width: 343px;
      height: 240px;
      background-image: url('images/image-product-mobile.jpg');
    }

    &-content {
      width: 100%;
      padding: 20px;
    }

    .btn {
      width: 100%;
      margin-top: 20px;
      padding: 16px;
      border-radius: 8px;
    }
  }

  .attribution {
    position: static;
    padding: 16px 20px;
    margin-top: 20px;
    font-size: 13px;
  }
}