@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  color: hsl(212, 21%, 14%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 450px;
  margin: auto;
}
.card-image {
  width: 100%;
  height: 450px;
  background-image: url("images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-content {
  width: 50%;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-content .category {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-content .title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 24px;
}
.card-content .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 29px;
}
.card-content .pricing {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 30px;
}
.card-content .pricing .price.new-price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: hsl(158, 36%, 37%);
}
.card-content .pricing .price.old-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}
.card-content .btn {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  width: 236px;
  padding: 15px 62px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content .btn:hover {
  background-color: #2c5e4b;
}
.card-content .btn .btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11.61px;
}
.card-content .btn .btn-container .btn-icon {
  display: flex;
  align-items: center;
}
.card-content .btn .btn-container .btn-icon img {
  height: 16px;
  width: auto;
}
.card-content .btn .btn-container .btn-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: auto;
}

.attribution {
  text-align: center;
  padding: 10px;
  font-size: 11px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
}
.attribution a {
  color: hsl(158, 36%, 37%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .card-image {
    width: 343px;
    height: 240px;
    background-image: url("images/image-product-mobile.jpg");
  }
  .card-content {
    width: 100%;
    padding: 20px;
  }
  .card .btn {
    width: 100%;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
  }
  .attribution {
    position: static;
    padding: 16px 20px;
    margin-top: 20px;
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
